praatio>=6.0.0
tqdm
pyyaml
librosa
numpy
scipy
scikit-learn
requests
biopython==1.79
dataclassy
sqlalchemy>=2.0
click
rich
rich-click
numpy
pynini
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
